# Don't include Git data.
**/.git/
**/.gitignore
**/.gitkeep

# Don't include IDE configurations.
.vscode/

# Don't include locally generated build files.
client/build/
client/.dart_tool/
client/.packages
**/node_modules/
