# Files and directories created by pub.
client/.dart_tool/
client/.packages

# Targets not used for this project.
client/android/
client/ios/

# Conventional directory for build outputs.
client/build/

# Directory created by dartdoc.
client/doc/api/